body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:423px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:800px;
}
#u1099 {
  position:absolute;
  left:9px;
  top:9px;
  width:414px;
  height:800px;
}
#u1100 {
  position:absolute;
  left:2px;
  top:392px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:595px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1101 {
  position:absolute;
  left:41px;
  top:129px;
  width:350px;
  height:595px;
}
#u1102 {
  position:absolute;
  left:2px;
  top:290px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u1103 {
  position:absolute;
  left:41px;
  top:196px;
  width:350px;
  height:1px;
}
#u1104 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1105 {
  position:absolute;
  left:56px;
  top:211px;
  width:71px;
  height:16px;
}
#u1106 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1107 {
  position:absolute;
  left:165px;
  top:211px;
  width:77px;
  height:16px;
}
#u1108 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u1109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u1109 {
  position:absolute;
  left:41px;
  top:243px;
  width:350px;
  height:1px;
}
#u1110 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1111 {
  position:absolute;
  left:56px;
  top:170px;
  width:43px;
  height:16px;
}
#u1112 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1113 {
  position:absolute;
  left:165px;
  top:170px;
  width:43px;
  height:16px;
}
#u1114 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1115 {
  position:absolute;
  left:56px;
  top:263px;
  width:85px;
  height:16px;
}
#u1116 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:170px;
}
#u1117 {
  position:absolute;
  left:56px;
  top:301px;
  width:316px;
  height:170px;
}
#u1118 {
  position:absolute;
  left:2px;
  top:77px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1119 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:58px;
}
#u1120 {
  position:absolute;
  left:41px;
  top:88px;
  width:350px;
  height:58px;
}
#u1121 {
  position:absolute;
  left:2px;
  top:21px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 56, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1122 {
  position:absolute;
  left:114px;
  top:107px;
  width:240px;
  height:39px;
}
#u1123 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1124 {
  position:absolute;
  left:121px;
  top:116px;
  width:55px;
  height:22px;
  color:#FFFFFF;
}
#u1125 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1126 {
  position:absolute;
  left:41px;
  top:101px;
  width:47px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
