body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1344px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:560px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4794 {
  position:absolute;
  left:644px;
  top:138px;
  width:350px;
  height:560px;
}
#u4795 {
  position:absolute;
  left:2px;
  top:272px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4796 {
  position:absolute;
  left:644px;
  top:138px;
  width:350px;
  height:119px;
}
#u4797 {
  position:absolute;
  left:2px;
  top:52px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u4798 {
  position:absolute;
  left:782px;
  top:150px;
  width:60px;
  height:60px;
}
#u4799 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4800 {
  position:absolute;
  left:796px;
  top:220px;
  width:37px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4801 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4802 {
  position:absolute;
  left:644px;
  top:265px;
  width:350px;
  height:97px;
}
#u4803 {
  position:absolute;
  left:2px;
  top:40px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4804 {
  position:absolute;
  left:655px;
  top:277px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u4805 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4806 {
  position:absolute;
  left:661px;
  top:335px;
  width:43px;
  height:16px;
}
#u4807 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:22px;
}
#u4808 {
  position:absolute;
  left:660px;
  top:303px;
  width:41px;
  height:21px;
}
#u4809 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:22px;
}
#u4810 {
  position:absolute;
  left:906px;
  top:303px;
  width:41px;
  height:21px;
}
#u4811 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4812 {
  position:absolute;
  left:905px;
  top:334px;
  width:43px;
  height:16px;
}
#u4813 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:279px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4814 {
  position:absolute;
  left:644px;
  top:389px;
  width:350px;
  height:279px;
}
#u4815 {
  position:absolute;
  left:2px;
  top:132px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
}
#u4816 {
  position:absolute;
  left:660px;
  top:448px;
  width:46px;
  height:26px;
}
#u4817 {
  position:absolute;
  left:2px;
  top:5px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4818 {
  position:absolute;
  left:723px;
  top:453px;
  width:57px;
  height:16px;
}
#u4819 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u4820 {
  position:absolute;
  left:644px;
  top:484px;
  width:350px;
  height:1px;
}
#u4821 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
}
#u4822 {
  position:absolute;
  left:660px;
  top:496px;
  width:46px;
  height:26px;
}
#u4823 {
  position:absolute;
  left:2px;
  top:5px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4824 {
  position:absolute;
  left:721px;
  top:501px;
  width:57px;
  height:16px;
}
#u4825 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u4826 {
  position:absolute;
  left:644px;
  top:534px;
  width:350px;
  height:1px;
}
#u4827 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4828 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4829 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:56px;
}
#u4830 {
  position:absolute;
  left:644px;
  top:82px;
  width:350px;
  height:56px;
}
#u4831 {
  position:absolute;
  left:2px;
  top:20px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:40px;
  background:inherit;
  background-color:rgba(50, 51, 53, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4832 {
  position:absolute;
  left:669px;
  top:98px;
  width:282px;
  height:40px;
}
#u4833 {
  position:absolute;
  left:2px;
  top:12px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4834 {
  position:absolute;
  left:788px;
  top:107px;
  width:37px;
  height:22px;
  color:#FFFFFF;
}
#u4835 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
}
#u4836 {
  position:absolute;
  left:660px;
  top:548px;
  width:46px;
  height:26px;
}
#u4837 {
  position:absolute;
  left:2px;
  top:5px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4838 {
  position:absolute;
  left:722px;
  top:553px;
  width:57px;
  height:16px;
}
#u4839 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4841 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:53px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4842 {
  position:absolute;
  left:644px;
  top:752px;
  width:350px;
  height:53px;
}
#u4843 {
  position:absolute;
  left:2px;
  top:18px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4844 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u4845 {
  position:absolute;
  left:664px;
  top:785px;
  width:61px;
  height:14px;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u4846 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u4847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u4847 {
  position:absolute;
  left:913px;
  top:785px;
  width:61px;
  height:14px;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u4848 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u4849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u4849 {
  position:absolute;
  left:830px;
  top:784px;
  width:61px;
  height:14px;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u4850 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u4851 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u4852 {
  position:absolute;
  left:751px;
  top:784px;
  width:61px;
  height:16px;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u4853 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u4854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u4854 {
  position:absolute;
  left:681px;
  top:761px;
  width:27px;
  height:18px;
}
#u4855 {
  position:absolute;
  left:2px;
  top:1px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u4856 {
  position:absolute;
  left:768px;
  top:761px;
  width:27px;
  height:18px;
}
#u4857 {
  position:absolute;
  left:2px;
  top:1px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u4858 {
  position:absolute;
  left:847px;
  top:761px;
  width:27px;
  height:18px;
}
#u4859 {
  position:absolute;
  left:2px;
  top:1px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u4860 {
  position:absolute;
  left:930px;
  top:761px;
  width:27px;
  height:18px;
}
#u4861 {
  position:absolute;
  left:2px;
  top:1px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4862 {
  position:absolute;
  left:645px;
  top:752px;
  width:90px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4863 {
  position:absolute;
  left:735px;
  top:752px;
  width:85px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4864 {
  position:absolute;
  left:818px;
  top:752px;
  width:85px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4865 {
  position:absolute;
  left:901px;
  top:752px;
  width:93px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4866 {
  position:absolute;
  left:688px;
  top:293px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u4867 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u4868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4868 {
  position:absolute;
  left:943px;
  top:751px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u4869 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u4870 {
  position:absolute;
  left:644px;
  top:293px;
  width:100px;
  height:69px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4871 {
  position:absolute;
  left:871px;
  top:292px;
  width:110px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4872 {
  position:absolute;
  left:644px;
  top:436px;
  width:350px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4873 {
  position:absolute;
  left:644px;
  top:484px;
  width:350px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
}
#u4874 {
  position:absolute;
  left:784px;
  top:298px;
  width:46px;
  height:26px;
}
#u4875 {
  position:absolute;
  left:2px;
  top:5px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4876 {
  position:absolute;
  left:786px;
  top:334px;
  width:43px;
  height:16px;
}
#u4877 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4878 {
  position:absolute;
  left:644px;
  top:668px;
  width:350px;
  height:84px;
}
#u4879 {
  position:absolute;
  left:2px;
  top:34px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4880 {
  position:absolute;
  left:776px;
  top:719px;
  width:73px;
  height:25px;
}
#u4881 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
}
#u4882 {
  position:absolute;
  left:660px;
  top:597px;
  width:46px;
  height:26px;
}
#u4883 {
  position:absolute;
  left:2px;
  top:5px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4884 {
  position:absolute;
  left:722px;
  top:602px;
  width:57px;
  height:16px;
}
#u4885 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u4886 {
  position:absolute;
  left:644px;
  top:584px;
  width:350px;
  height:1px;
}
#u4887 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
}
#u4888 {
  position:absolute;
  left:660px;
  top:639px;
  width:46px;
  height:26px;
}
#u4889 {
  position:absolute;
  left:2px;
  top:5px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4890 {
  position:absolute;
  left:722px;
  top:644px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4891 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u4892 {
  position:absolute;
  left:644px;
  top:629px;
  width:350px;
  height:1px;
}
#u4893 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4894 {
  position:absolute;
  left:698px;
  top:584px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u4895 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u4896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:132px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u4896 {
  position:absolute;
  left:1071px;
  top:230px;
  width:164px;
  height:132px;
}
#u4897 {
  position:absolute;
  left:10px;
  top:10px;
  width:144px;
  word-wrap:break-word;
}
#u4898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4898 {
  position:absolute;
  left:818px;
  top:284px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u4899 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u4900 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u4901 {
  position:absolute;
  left:1071px;
  top:82px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u4902 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u4903 {
  position:absolute;
  left:1071px;
  top:117px;
  width:273px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u4904 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  white-space:nowrap;
}
#u4905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u4905 {
  position:absolute;
  left:644px;
  top:678px;
  width:350px;
  height:1px;
}
#u4906 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
}
#u4907 {
  position:absolute;
  left:660px;
  top:692px;
  width:46px;
  height:26px;
}
#u4908 {
  position:absolute;
  left:2px;
  top:5px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4909 {
  position:absolute;
  left:722px;
  top:697px;
  width:57px;
  height:16px;
}
#u4910 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4911 {
  position:absolute;
  left:939px;
  top:689px;
  width:32px;
  height:32px;
}
#u4912 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
}
#u4913 {
  position:absolute;
  left:660px;
  top:400px;
  width:46px;
  height:26px;
}
#u4914 {
  position:absolute;
  left:2px;
  top:5px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4915 {
  position:absolute;
  left:723px;
  top:405px;
  width:57px;
  height:20px;
}
#u4916 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u4917 {
  position:absolute;
  left:644px;
  top:436px;
  width:350px;
  height:1px;
}
#u4918 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4919 {
  position:absolute;
  left:917px;
  top:403px;
  width:71px;
  height:20px;
}
#u4920 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4921 {
  position:absolute;
  left:644px;
  top:389px;
  width:350px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:782px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4922 {
  position:absolute;
  left:50px;
  top:138px;
  width:350px;
  height:782px;
}
#u4923 {
  position:absolute;
  left:2px;
  top:383px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4924 {
  position:absolute;
  left:50px;
  top:138px;
  width:350px;
  height:119px;
}
#u4925 {
  position:absolute;
  left:2px;
  top:52px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u4926 {
  position:absolute;
  left:188px;
  top:150px;
  width:60px;
  height:60px;
}
#u4927 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4928 {
  position:absolute;
  left:202px;
  top:220px;
  width:37px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4929 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4930 {
  position:absolute;
  left:50px;
  top:265px;
  width:350px;
  height:97px;
}
#u4931 {
  position:absolute;
  left:2px;
  top:40px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4932 {
  position:absolute;
  left:61px;
  top:277px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u4933 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4934 {
  position:absolute;
  left:67px;
  top:335px;
  width:43px;
  height:16px;
}
#u4935 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:22px;
}
#u4936 {
  position:absolute;
  left:66px;
  top:303px;
  width:41px;
  height:21px;
}
#u4937 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:22px;
}
#u4938 {
  position:absolute;
  left:312px;
  top:303px;
  width:41px;
  height:21px;
}
#u4939 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4940 {
  position:absolute;
  left:311px;
  top:334px;
  width:43px;
  height:16px;
}
#u4941 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:345px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4942 {
  position:absolute;
  left:50px;
  top:389px;
  width:350px;
  height:345px;
}
#u4943 {
  position:absolute;
  left:2px;
  top:164px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
}
#u4944 {
  position:absolute;
  left:66px;
  top:496px;
  width:46px;
  height:26px;
}
#u4945 {
  position:absolute;
  left:2px;
  top:5px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4946 {
  position:absolute;
  left:129px;
  top:501px;
  width:57px;
  height:16px;
}
#u4947 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u4948 {
  position:absolute;
  left:50px;
  top:532px;
  width:350px;
  height:1px;
}
#u4949 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
}
#u4950 {
  position:absolute;
  left:66px;
  top:544px;
  width:46px;
  height:26px;
}
#u4951 {
  position:absolute;
  left:2px;
  top:5px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4952 {
  position:absolute;
  left:127px;
  top:549px;
  width:57px;
  height:16px;
}
#u4953 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u4954 {
  position:absolute;
  left:50px;
  top:582px;
  width:350px;
  height:1px;
}
#u4955 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4957 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:56px;
}
#u4958 {
  position:absolute;
  left:50px;
  top:82px;
  width:350px;
  height:56px;
}
#u4959 {
  position:absolute;
  left:2px;
  top:20px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:40px;
  background:inherit;
  background-color:rgba(50, 51, 53, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4960 {
  position:absolute;
  left:75px;
  top:98px;
  width:282px;
  height:40px;
}
#u4961 {
  position:absolute;
  left:2px;
  top:12px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4962 {
  position:absolute;
  left:194px;
  top:107px;
  width:37px;
  height:22px;
  color:#FFFFFF;
}
#u4963 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
}
#u4964 {
  position:absolute;
  left:66px;
  top:596px;
  width:46px;
  height:26px;
}
#u4965 {
  position:absolute;
  left:2px;
  top:5px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4966 {
  position:absolute;
  left:128px;
  top:601px;
  width:57px;
  height:16px;
}
#u4967 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4969 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:53px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4970 {
  position:absolute;
  left:50px;
  top:867px;
  width:350px;
  height:53px;
}
#u4971 {
  position:absolute;
  left:2px;
  top:18px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4972 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u4973 {
  position:absolute;
  left:70px;
  top:900px;
  width:61px;
  height:14px;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u4974 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u4975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u4975 {
  position:absolute;
  left:319px;
  top:900px;
  width:61px;
  height:14px;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u4976 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u4977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u4977 {
  position:absolute;
  left:236px;
  top:899px;
  width:61px;
  height:14px;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u4978 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u4979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u4980 {
  position:absolute;
  left:157px;
  top:899px;
  width:61px;
  height:16px;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u4981 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u4982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u4982 {
  position:absolute;
  left:87px;
  top:876px;
  width:27px;
  height:18px;
}
#u4983 {
  position:absolute;
  left:2px;
  top:1px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u4984 {
  position:absolute;
  left:174px;
  top:876px;
  width:27px;
  height:18px;
}
#u4985 {
  position:absolute;
  left:2px;
  top:1px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u4986 {
  position:absolute;
  left:253px;
  top:876px;
  width:27px;
  height:18px;
}
#u4987 {
  position:absolute;
  left:2px;
  top:1px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u4988 {
  position:absolute;
  left:336px;
  top:876px;
  width:27px;
  height:18px;
}
#u4989 {
  position:absolute;
  left:2px;
  top:1px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4990 {
  position:absolute;
  left:51px;
  top:867px;
  width:90px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4991 {
  position:absolute;
  left:141px;
  top:867px;
  width:85px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4992 {
  position:absolute;
  left:224px;
  top:867px;
  width:85px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4993 {
  position:absolute;
  left:307px;
  top:867px;
  width:93px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4994 {
  position:absolute;
  left:94px;
  top:293px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u4995 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u4996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4996 {
  position:absolute;
  left:349px;
  top:866px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u4997 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u4998 {
  position:absolute;
  left:50px;
  top:293px;
  width:100px;
  height:69px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4999 {
  position:absolute;
  left:277px;
  top:292px;
  width:110px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5000 {
  position:absolute;
  left:50px;
  top:484px;
  width:350px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5001 {
  position:absolute;
  left:50px;
  top:532px;
  width:350px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
}
#u5002 {
  position:absolute;
  left:190px;
  top:298px;
  width:46px;
  height:26px;
}
#u5003 {
  position:absolute;
  left:2px;
  top:5px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5004 {
  position:absolute;
  left:192px;
  top:334px;
  width:43px;
  height:16px;
}
#u5005 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5006 {
  position:absolute;
  left:182px;
  top:837px;
  width:73px;
  height:25px;
}
#u5007 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u5008 {
  position:absolute;
  left:50px;
  top:433px;
  width:350px;
  height:1px;
}
#u5009 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
}
#u5010 {
  position:absolute;
  left:66px;
  top:444px;
  width:46px;
  height:26px;
}
#u5011 {
  position:absolute;
  left:2px;
  top:5px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5012 {
  position:absolute;
  left:128px;
  top:449px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5013 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u5014 {
  position:absolute;
  left:50px;
  top:434px;
  width:350px;
  height:1px;
}
#u5015 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5016 {
  position:absolute;
  left:224px;
  top:284px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u5017 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u5018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u5018 {
  position:absolute;
  left:50px;
  top:483px;
  width:350px;
  height:1px;
}
#u5019 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
}
#u5020 {
  position:absolute;
  left:66px;
  top:697px;
  width:46px;
  height:26px;
}
#u5021 {
  position:absolute;
  left:2px;
  top:5px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5022 {
  position:absolute;
  left:128px;
  top:702px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5023 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
}
#u5024 {
  position:absolute;
  left:66px;
  top:400px;
  width:46px;
  height:26px;
}
#u5025 {
  position:absolute;
  left:2px;
  top:5px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5026 {
  position:absolute;
  left:129px;
  top:405px;
  width:57px;
  height:20px;
}
#u5027 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u5028 {
  position:absolute;
  left:50px;
  top:484px;
  width:350px;
  height:1px;
}
#u5029 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5030 {
  position:absolute;
  left:323px;
  top:403px;
  width:71px;
  height:20px;
}
#u5031 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5032 {
  position:absolute;
  left:51px;
  top:386px;
  width:350px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5033 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5034_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:233px;
  height:21px;
}
#u5034p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:224px;
  height:1px;
}
#u5034p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:235px;
  height:21px;
}
#u5034p001 {
  position:absolute;
  left:-8px;
  top:-11px;
  width:22px;
  height:22px;
}
#u5034p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u5034p002 {
  position:absolute;
  left:221px;
  top:0px;
  width:2px;
  height:1px;
}
#u5034p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u5034.compound {
  width:0px;
  height:0px;
}
#u5034 {
  position:absolute;
  left:410px;
  top:331px;
  width:222px;
  height:1px;
}
#u5035 {
  position:absolute;
  left:2px;
  top:-8px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u5036 {
  position:absolute;
  left:497px;
  top:304px;
  width:42px;
  height:23px;
  font-size:20px;
  color:#FF0000;
}
#u5037 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u5038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u5038 {
  position:absolute;
  left:410px;
  top:342px;
  width:224px;
  height:84px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u5039 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u5040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u5040 {
  position:absolute;
  left:50px;
  top:732px;
  width:350px;
  height:1px;
}
#u5041 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
}
#u5042 {
  position:absolute;
  left:66px;
  top:746px;
  width:46px;
  height:26px;
}
#u5043 {
  position:absolute;
  left:2px;
  top:5px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5044 {
  position:absolute;
  left:128px;
  top:751px;
  width:57px;
  height:16px;
}
#u5045 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5046 {
  position:absolute;
  left:345px;
  top:743px;
  width:32px;
  height:32px;
}
#u5047 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5048 {
  position:absolute;
  left:50px;
  top:584px;
  width:350px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5049 {
  position:absolute;
  left:50px;
  top:682px;
  width:350px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u5050 {
  position:absolute;
  left:50px;
  top:635px;
  width:350px;
  height:1px;
}
#u5051 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
}
#u5052 {
  position:absolute;
  left:66px;
  top:646px;
  width:46px;
  height:26px;
}
#u5053 {
  position:absolute;
  left:2px;
  top:5px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5054 {
  position:absolute;
  left:128px;
  top:651px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5055 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u5056 {
  position:absolute;
  left:50px;
  top:636px;
  width:350px;
  height:1px;
}
#u5057 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5058 {
  position:absolute;
  left:50px;
  top:636px;
  width:350px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5059 {
  position:absolute;
  left:315px;
  top:449px;
  width:79px;
  height:20px;
  text-align:right;
}
#u5060 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u5061 {
  position:absolute;
  left:50px;
  top:433px;
  width:350px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:36px;
}
#u5062 {
  position:absolute;
  left:350px;
  top:790px;
  width:31px;
  height:36px;
}
#u5063 {
  position:absolute;
  left:2px;
  top:10px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u5064 {
  position:absolute;
  left:50px;
  top:785px;
  width:350px;
  height:1px;
}
#u5065 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
}
#u5066 {
  position:absolute;
  left:66px;
  top:796px;
  width:46px;
  height:26px;
}
#u5067 {
  position:absolute;
  left:2px;
  top:5px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5068 {
  position:absolute;
  left:128px;
  top:801px;
  width:57px;
  height:20px;
}
#u5069 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u5070 {
  position:absolute;
  left:50px;
  top:835px;
  width:350px;
  height:1px;
}
#u5071 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
