body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:721px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:1185px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15679 {
  position:absolute;
  left:51px;
  top:110px;
  width:350px;
  height:1185px;
}
#u15680 {
  position:absolute;
  left:2px;
  top:584px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:60px;
}
#u15681 {
  position:absolute;
  left:51px;
  top:50px;
  width:350px;
  height:60px;
}
#u15682 {
  position:absolute;
  left:2px;
  top:22px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:177px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15683 {
  position:absolute;
  left:51px;
  top:76px;
  width:350px;
  height:177px;
}
#u15684 {
  position:absolute;
  left:2px;
  top:80px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u15685 {
  position:absolute;
  left:80px;
  top:214px;
  width:60px;
  height:60px;
}
#u15686 {
  position:absolute;
  left:2px;
  top:21px;
  width:56px;
  word-wrap:break-word;
}
#u15687 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:58px;
}
#u15688 {
  position:absolute;
  left:51px;
  top:52px;
  width:350px;
  height:58px;
}
#u15689 {
  position:absolute;
  left:2px;
  top:21px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 56, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15690 {
  position:absolute;
  left:124px;
  top:71px;
  width:240px;
  height:39px;
}
#u15691 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15692 {
  position:absolute;
  left:131px;
  top:80px;
  width:73px;
  height:25px;
  color:#FFFFFF;
}
#u15693 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u15694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u15694 {
  position:absolute;
  left:72px;
  top:281px;
  width:29px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15695 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u15696 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15697 {
  position:absolute;
  left:51px;
  top:441px;
  width:350px;
  height:46px;
}
#u15698 {
  position:absolute;
  left:2px;
  top:15px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15699 {
  position:absolute;
  left:63px;
  top:495px;
  width:139px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15700 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u15701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15701 {
  position:absolute;
  left:50px;
  top:521px;
  width:350px;
  height:99px;
}
#u15702 {
  position:absolute;
  left:2px;
  top:42px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u15703 {
  position:absolute;
  left:62px;
  top:535px;
  width:329px;
  height:69px;
  line-height:18px;
}
#u15704 {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  word-wrap:break-word;
}
#u15705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15705 {
  position:absolute;
  left:63px;
  top:630px;
  width:139px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15706 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u15707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15707 {
  position:absolute;
  left:62px;
  top:415px;
  width:139px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15708 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u15709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u15709 {
  position:absolute;
  left:62px;
  top:457px;
  width:329px;
  height:20px;
  font-size:14px;
}
#u15710 {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  word-wrap:break-word;
}
#u15711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15711 {
  position:absolute;
  left:50px;
  top:656px;
  width:350px;
  height:99px;
}
#u15712 {
  position:absolute;
  left:2px;
  top:42px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u15713 {
  position:absolute;
  left:61px;
  top:671px;
  width:329px;
  height:69px;
  line-height:18px;
}
#u15714 {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  word-wrap:break-word;
}
#u15715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u15715 {
  position:absolute;
  left:317px;
  top:283px;
  width:29px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15716 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u15717 {
  position:absolute;
  left:51px;
  top:71px;
  width:44px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15718 {
  position:absolute;
  left:64px;
  top:316px;
  width:139px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15719 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u15720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15720 {
  position:absolute;
  left:51px;
  top:337px;
  width:350px;
  height:68px;
}
#u15721 {
  position:absolute;
  left:2px;
  top:26px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:20px;
}
#u15722 {
  position:absolute;
  left:67px;
  top:348px;
  width:125px;
  height:20px;
  font-size:14px;
}
#u15723 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u15724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u15724 {
  position:absolute;
  left:72px;
  top:374px;
  width:85px;
  height:20px;
  font-size:14px;
}
#u15725 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u15726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u15726 {
  position:absolute;
  left:354px;
  top:360px;
  width:24px;
  height:24px;
}
#u15727 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15728 {
  position:absolute;
  left:61px;
  top:768px;
  width:139px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15729 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u15730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15730 {
  position:absolute;
  left:51px;
  top:794px;
  width:350px;
  height:125px;
}
#u15731 {
  position:absolute;
  left:2px;
  top:54px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:101px;
}
#u15732 {
  position:absolute;
  left:63px;
  top:804px;
  width:103px;
  height:100px;
}
#u15733 {
  position:absolute;
  left:2px;
  top:42px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:101px;
}
#u15734 {
  position:absolute;
  left:176px;
  top:804px;
  width:103px;
  height:100px;
}
#u15735 {
  position:absolute;
  left:2px;
  top:42px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:101px;
}
#u15736 {
  position:absolute;
  left:287px;
  top:803px;
  width:103px;
  height:100px;
}
#u15737 {
  position:absolute;
  left:2px;
  top:42px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u15738 {
  position:absolute;
  left:67px;
  top:932px;
  width:57px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15739 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u15740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:151px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15740 {
  position:absolute;
  left:50px;
  top:958px;
  width:350px;
  height:151px;
}
#u15741 {
  position:absolute;
  left:2px;
  top:68px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15742 {
  position:absolute;
  left:71px;
  top:1079px;
  width:85px;
  height:20px;
}
#u15743 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u15744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15744 {
  position:absolute;
  left:190px;
  top:1079px;
  width:71px;
  height:20px;
}
#u15745 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u15746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:101px;
}
#u15746 {
  position:absolute;
  left:62px;
  top:969px;
  width:103px;
  height:100px;
}
#u15747 {
  position:absolute;
  left:2px;
  top:42px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:101px;
}
#u15748 {
  position:absolute;
  left:175px;
  top:969px;
  width:103px;
  height:100px;
}
#u15749 {
  position:absolute;
  left:2px;
  top:42px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:101px;
}
#u15750 {
  position:absolute;
  left:288px;
  top:969px;
  width:103px;
  height:100px;
}
#u15751 {
  position:absolute;
  left:2px;
  top:42px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15752 {
  position:absolute;
  left:297px;
  top:1079px;
  width:85px;
  height:20px;
}
#u15753 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u15754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15754 {
  position:absolute;
  left:53px;
  top:1147px;
  width:350px;
  height:45px;
}
#u15755 {
  position:absolute;
  left:2px;
  top:14px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15756 {
  position:absolute;
  left:65px;
  top:1119px;
  width:139px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15757 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u15758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u15758 {
  position:absolute;
  left:64px;
  top:1162px;
  width:329px;
  height:20px;
  font-size:14px;
}
#u15759 {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  word-wrap:break-word;
}
#u15760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15760 {
  position:absolute;
  left:64px;
  top:1202px;
  width:139px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15761 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u15762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15762 {
  position:absolute;
  left:62px;
  top:1236px;
  width:58px;
  height:24px;
}
#u15763 {
  position:absolute;
  left:2px;
  top:3px;
  width:54px;
  word-wrap:break-word;
}
#u15764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15764 {
  position:absolute;
  left:130px;
  top:1236px;
  width:58px;
  height:24px;
}
#u15765 {
  position:absolute;
  left:2px;
  top:3px;
  width:54px;
  word-wrap:break-word;
}
#u15766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15766 {
  position:absolute;
  left:198px;
  top:1236px;
  width:58px;
  height:24px;
}
#u15767 {
  position:absolute;
  left:2px;
  top:3px;
  width:54px;
  word-wrap:break-word;
}
#u15768 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u15769 {
  position:absolute;
  left:462px;
  top:50px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u15770 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u15771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u15771 {
  position:absolute;
  left:462px;
  top:85px;
  width:259px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u15772 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  white-space:nowrap;
}
