body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:572px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:560px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2249 {
  position:absolute;
  left:49px;
  top:151px;
  width:350px;
  height:560px;
}
#u2250 {
  position:absolute;
  left:2px;
  top:272px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2251 {
  position:absolute;
  left:141px;
  top:122px;
  width:167px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2252 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u2253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:622px;
}
#u2253 {
  position:absolute;
  left:49px;
  top:91px;
  width:350px;
  height:622px;
}
#u2254 {
  position:absolute;
  left:2px;
  top:303px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:46px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2255 {
  position:absolute;
  left:165px;
  top:116px;
  width:163px;
  height:46px;
}
#u2256 {
  position:absolute;
  left:2px;
  top:15px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2257 {
  position:absolute;
  left:55px;
  top:618px;
  width:78px;
  height:26px;
}
#u2258 {
  position:absolute;
  left:2px;
  top:5px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2259 {
  position:absolute;
  left:66px;
  top:618px;
  width:57px;
  height:16px;
}
#u2260 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2261 {
  position:absolute;
  left:78px;
  top:44px;
  width:83px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2262 {
  position:absolute;
  left:10px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u2263 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:58px;
}
#u2264 {
  position:absolute;
  left:50px;
  top:92px;
  width:350px;
  height:58px;
}
#u2265 {
  position:absolute;
  left:2px;
  top:21px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 56, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2266 {
  position:absolute;
  left:123px;
  top:111px;
  width:240px;
  height:39px;
}
#u2267 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2268 {
  position:absolute;
  left:130px;
  top:120px;
  width:73px;
  height:22px;
  color:#FFFFFF;
}
#u2269 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2270 {
  position:absolute;
  left:50px;
  top:111px;
  width:48px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2271 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u2272 {
  position:absolute;
  left:439px;
  top:88px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u2273 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u2274 {
  position:absolute;
  left:439px;
  top:123px;
  width:133px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u2275 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
