body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:800px;
}
#u15058 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:800px;
}
#u15059 {
  position:absolute;
  left:2px;
  top:392px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:560px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15060 {
  position:absolute;
  left:32px;
  top:138px;
  width:350px;
  height:560px;
}
#u15061 {
  position:absolute;
  left:2px;
  top:272px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:560px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15062 {
  position:absolute;
  left:32px;
  top:138px;
  width:350px;
  height:560px;
}
#u15063 {
  position:absolute;
  left:2px;
  top:272px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15064 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:58px;
}
#u15065 {
  position:absolute;
  left:32px;
  top:80px;
  width:350px;
  height:58px;
}
#u15066 {
  position:absolute;
  left:2px;
  top:21px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 56, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15067 {
  position:absolute;
  left:105px;
  top:99px;
  width:240px;
  height:39px;
}
#u15068 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:561px;
}
#u15069 {
  position:absolute;
  left:32px;
  top:138px;
  width:350px;
  height:560px;
}
#u15070 {
  position:absolute;
  left:2px;
  top:271px;
  width:346px;
  word-wrap:break-word;
}
#u15071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15071 {
  position:absolute;
  left:48px;
  top:160px;
  width:26px;
  height:22px;
}
#u15072 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u15073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u15073 {
  position:absolute;
  left:336px;
  top:150px;
  width:32px;
  height:32px;
}
#u15074 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:170px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15075 {
  position:absolute;
  left:48px;
  top:222px;
  width:320px;
  height:170px;
}
#u15076 {
  position:absolute;
  left:2px;
  top:77px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15077 {
  position:absolute;
  left:87px;
  top:246px;
  width:29px;
  height:16px;
}
#u15078 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u15079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15079 {
  position:absolute;
  left:87px;
  top:290px;
  width:127px;
  height:16px;
}
#u15080 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u15081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15081 {
  position:absolute;
  left:217px;
  top:352px;
  width:29px;
  height:16px;
}
#u15082 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u15083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3B9DF7;
}
#u15083 {
  position:absolute;
  left:294px;
  top:352px;
  width:29px;
  height:16px;
  color:#3B9DF7;
}
#u15084 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u15085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u15085 {
  position:absolute;
  left:125px;
  top:109px;
  width:73px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u15086 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
