body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:800px;
}
#u14894 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:800px;
}
#u14895 {
  position:absolute;
  left:2px;
  top:392px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:560px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14896 {
  position:absolute;
  left:32px;
  top:138px;
  width:350px;
  height:560px;
}
#u14897 {
  position:absolute;
  left:2px;
  top:272px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:560px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14898 {
  position:absolute;
  left:32px;
  top:138px;
  width:350px;
  height:560px;
}
#u14899 {
  position:absolute;
  left:2px;
  top:272px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14900 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:58px;
}
#u14901 {
  position:absolute;
  left:32px;
  top:80px;
  width:350px;
  height:58px;
}
#u14902 {
  position:absolute;
  left:2px;
  top:21px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 56, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14903 {
  position:absolute;
  left:105px;
  top:99px;
  width:240px;
  height:39px;
}
#u14904 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u14905 {
  position:absolute;
  left:112px;
  top:108px;
  width:73px;
  height:22px;
  color:#FFFFFF;
}
#u14906 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u14907 {
  position:absolute;
  left:54px;
  top:160px;
  width:60px;
  height:60px;
}
#u14908 {
  position:absolute;
  left:2px;
  top:21px;
  width:56px;
  word-wrap:break-word;
}
#u14909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u14909 {
  position:absolute;
  left:128px;
  top:160px;
  width:60px;
  height:60px;
}
#u14910 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u14911 {
  position:absolute;
  left:202px;
  top:160px;
  width:60px;
  height:60px;
}
#u14912 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u14913 {
  position:absolute;
  left:276px;
  top:160px;
  width:60px;
  height:60px;
}
#u14914 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u14915 {
  position:absolute;
  left:54px;
  top:230px;
  width:60px;
  height:60px;
}
#u14916 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u14917 {
  position:absolute;
  left:128px;
  top:230px;
  width:60px;
  height:60px;
}
#u14918 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u14919 {
  position:absolute;
  left:202px;
  top:230px;
  width:60px;
  height:60px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u14920 {
  position:absolute;
  left:2px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u14921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:800px;
}
#u14921 {
  position:absolute;
  left:443px;
  top:0px;
  width:414px;
  height:800px;
}
#u14922 {
  position:absolute;
  left:2px;
  top:392px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:560px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14923 {
  position:absolute;
  left:475px;
  top:138px;
  width:350px;
  height:560px;
}
#u14924 {
  position:absolute;
  left:2px;
  top:272px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14925 {
  position:absolute;
  left:475px;
  top:138px;
  width:350px;
  height:568px;
}
#u14926 {
  position:absolute;
  left:2px;
  top:276px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14927 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:58px;
}
#u14928 {
  position:absolute;
  left:475px;
  top:80px;
  width:350px;
  height:58px;
}
#u14929 {
  position:absolute;
  left:2px;
  top:21px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 56, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14930 {
  position:absolute;
  left:548px;
  top:99px;
  width:240px;
  height:39px;
}
#u14931 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u14932 {
  position:absolute;
  left:555px;
  top:108px;
  width:73px;
  height:22px;
  color:#FFFFFF;
}
#u14933 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u14934 {
  position:absolute;
  left:506px;
  top:160px;
  width:60px;
  height:60px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u14935 {
  position:absolute;
  left:2px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u14936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u14936 {
  position:absolute;
  left:581px;
  top:356px;
  width:175px;
  height:19px;
  font-size:16px;
}
#u14937 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u14938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:800px;
}
#u14938 {
  position:absolute;
  left:926px;
  top:0px;
  width:414px;
  height:800px;
}
#u14939 {
  position:absolute;
  left:2px;
  top:392px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:560px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14940 {
  position:absolute;
  left:958px;
  top:138px;
  width:350px;
  height:560px;
}
#u14941 {
  position:absolute;
  left:2px;
  top:272px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14942 {
  position:absolute;
  left:958px;
  top:138px;
  width:350px;
  height:568px;
}
#u14943 {
  position:absolute;
  left:2px;
  top:276px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14944 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:58px;
}
#u14945 {
  position:absolute;
  left:958px;
  top:80px;
  width:350px;
  height:58px;
}
#u14946 {
  position:absolute;
  left:2px;
  top:21px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 56, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14947 {
  position:absolute;
  left:1031px;
  top:99px;
  width:240px;
  height:39px;
}
#u14948 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u14949 {
  position:absolute;
  left:1038px;
  top:108px;
  width:73px;
  height:22px;
  color:#FFFFFF;
}
#u14950 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u14951 {
  position:absolute;
  left:973px;
  top:160px;
  width:320px;
  height:480px;
}
#u14952 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14953 {
  position:absolute;
  left:990px;
  top:596px;
  width:303px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:307px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14954 {
  position:absolute;
  left:973px;
  top:160px;
  width:320px;
  height:307px;
}
#u14955 {
  position:absolute;
  left:2px;
  top:146px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14956 {
  position:absolute;
  left:137px;
  top:640px;
  width:140px;
  height:40px;
}
#u14957 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
