body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:931px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:53px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9514 {
  position:absolute;
  left:50px;
  top:637px;
  width:350px;
  height:53px;
}
#u9515 {
  position:absolute;
  left:2px;
  top:18px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u9516 {
  position:absolute;
  left:111px;
  top:670px;
  width:61px;
  height:14px;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u9517 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u9518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u9518 {
  position:absolute;
  left:282px;
  top:670px;
  width:61px;
  height:14px;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u9519 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u9520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u9520 {
  position:absolute;
  left:128px;
  top:646px;
  width:27px;
  height:18px;
}
#u9521 {
  position:absolute;
  left:2px;
  top:1px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u9522 {
  position:absolute;
  left:299px;
  top:646px;
  width:27px;
  height:18px;
}
#u9523 {
  position:absolute;
  left:2px;
  top:1px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9524 {
  position:absolute;
  left:50px;
  top:637px;
  width:179px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9525 {
  position:absolute;
  left:229px;
  top:637px;
  width:171px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9526 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9527 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:56px;
}
#u9528 {
  position:absolute;
  left:50px;
  top:50px;
  width:350px;
  height:56px;
}
#u9529 {
  position:absolute;
  left:2px;
  top:20px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:40px;
  background:inherit;
  background-color:rgba(50, 51, 53, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9530 {
  position:absolute;
  left:75px;
  top:66px;
  width:282px;
  height:40px;
}
#u9531 {
  position:absolute;
  left:2px;
  top:12px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9532 {
  position:absolute;
  left:194px;
  top:75px;
  width:73px;
  height:25px;
  color:#FFFFFF;
}
#u9533 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u9534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:584px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9534 {
  position:absolute;
  left:50px;
  top:106px;
  width:350px;
  height:584px;
}
#u9535 {
  position:absolute;
  left:2px;
  top:284px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9536 {
  position:absolute;
  left:81px;
  top:232px;
  width:300px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9537 {
  position:absolute;
  left:2px;
  top:76px;
  width:296px;
  word-wrap:break-word;
}
#u9538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9538 {
  position:absolute;
  left:81px;
  top:232px;
  width:300px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9539 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u9540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9540 {
  position:absolute;
  left:81px;
  top:359px;
  width:300px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9541 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u9542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u9542 {
  position:absolute;
  left:460px;
  top:85px;
  width:471px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u9543 {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  word-wrap:break-word;
}
#u9544 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u9545 {
  position:absolute;
  left:460px;
  top:50px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u9546 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u9547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:2px;
}
#u9547 {
  position:absolute;
  left:460px;
  top:74px;
  width:471px;
  height:1px;
}
#u9548 {
  position:absolute;
  left:2px;
  top:-8px;
  width:467px;
  visibility:hidden;
  word-wrap:break-word;
}
