body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1012px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:613px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u859 {
  position:absolute;
  left:50px;
  top:88px;
  width:350px;
  height:613px;
}
#u860 {
  position:absolute;
  left:2px;
  top:298px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:560px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u861 {
  position:absolute;
  left:50px;
  top:150px;
  width:350px;
  height:560px;
}
#u862 {
  position:absolute;
  left:2px;
  top:272px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:622px;
}
#u863 {
  position:absolute;
  left:50px;
  top:88px;
  width:350px;
  height:622px;
}
#u864 {
  position:absolute;
  left:2px;
  top:303px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:58px;
}
#u866 {
  position:absolute;
  left:50px;
  top:88px;
  width:350px;
  height:58px;
}
#u867 {
  position:absolute;
  left:2px;
  top:21px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 56, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u868 {
  position:absolute;
  left:123px;
  top:107px;
  width:240px;
  height:39px;
}
#u869 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u870 {
  position:absolute;
  left:130px;
  top:116px;
  width:225px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u871 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:47px;
  background:inherit;
  background-color:rgba(74, 77, 70, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u872 {
  position:absolute;
  left:137px;
  top:302px;
  width:125px;
  height:47px;
}
#u873 {
  position:absolute;
  left:2px;
  top:16px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u874 {
  position:absolute;
  left:145px;
  top:308px;
  width:113px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u875 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u876 {
  position:absolute;
  left:50px;
  top:101px;
  width:42px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u877 {
  position:absolute;
  left:442px;
  top:309px;
  width:150px;
  height:40px;
}
#u878 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u879 {
  position:absolute;
  left:442px;
  top:88px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u880 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u881 {
  position:absolute;
  left:442px;
  top:123px;
  width:570px;
  height:20px;
  color:#FF0000;
}
#u882 {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  white-space:nowrap;
}
