body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:601px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13127 {
  position:absolute;
  left:50px;
  top:77px;
  width:350px;
  height:601px;
}
#u13128 {
  position:absolute;
  left:2px;
  top:292px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13129 {
  position:absolute;
  left:50px;
  top:628px;
  width:87px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13130 {
  position:absolute;
  left:2px;
  top:16px;
  width:83px;
  word-wrap:break-word;
}
#u13131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:56px;
}
#u13131 {
  position:absolute;
  left:50px;
  top:60px;
  width:350px;
  height:56px;
}
#u13132 {
  position:absolute;
  left:2px;
  top:20px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:33px;
  background:inherit;
  background-color:rgba(49, 50, 52, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13133 {
  position:absolute;
  left:80px;
  top:83px;
  width:278px;
  height:33px;
}
#u13134 {
  position:absolute;
  left:2px;
  top:8px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13135 {
  position:absolute;
  left:138px;
  top:628px;
  width:87px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13136 {
  position:absolute;
  left:2px;
  top:16px;
  width:83px;
  word-wrap:break-word;
}
#u13137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13137 {
  position:absolute;
  left:226px;
  top:628px;
  width:87px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13138 {
  position:absolute;
  left:2px;
  top:16px;
  width:83px;
  word-wrap:break-word;
}
#u13139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13139 {
  position:absolute;
  left:313px;
  top:628px;
  width:87px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13140 {
  position:absolute;
  left:2px;
  top:16px;
  width:83px;
  word-wrap:break-word;
}
#u13141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u13141 {
  position:absolute;
  left:102px;
  top:86px;
  width:246px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u13142 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  word-wrap:break-word;
}
#u13143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:122px;
}
#u13143 {
  position:absolute;
  left:144px;
  top:233px;
  width:169px;
  height:121px;
}
#u13144 {
  position:absolute;
  left:2px;
  top:52px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13145 {
  position:absolute;
  left:108px;
  top:423px;
  width:235px;
  height:44px;
}
#u13146 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
