body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:553px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16701 {
  position:absolute;
  left:60px;
  top:128px;
  width:350px;
  height:553px;
}
#u16702 {
  position:absolute;
  left:2px;
  top:268px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:238px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16703 {
  position:absolute;
  left:60px;
  top:84px;
  width:350px;
  height:238px;
}
#u16704 {
  position:absolute;
  left:2px;
  top:111px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:483px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16705 {
  position:absolute;
  left:60px;
  top:127px;
  width:350px;
  height:483px;
}
#u16706 {
  position:absolute;
  left:2px;
  top:234px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:553px;
}
#u16707 {
  position:absolute;
  left:60px;
  top:118px;
  width:350px;
  height:553px;
}
#u16708 {
  position:absolute;
  left:2px;
  top:268px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16709 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:58px;
}
#u16710 {
  position:absolute;
  left:60px;
  top:60px;
  width:350px;
  height:58px;
}
#u16711 {
  position:absolute;
  left:2px;
  top:21px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 56, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16712 {
  position:absolute;
  left:133px;
  top:79px;
  width:240px;
  height:39px;
}
#u16713 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u16714 {
  position:absolute;
  left:140px;
  top:88px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u16715 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u16716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16716 {
  position:absolute;
  left:71px;
  top:128px;
  width:29px;
  height:16px;
}
#u16717 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  visibility:hidden;
  white-space:nowrap;
}
#u16718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16718 {
  position:absolute;
  left:67px;
  top:128px;
  width:105px;
  height:25px;
}
#u16719 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u16720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16720 {
  position:absolute;
  left:60px;
  top:184px;
  width:350px;
  height:136px;
}
#u16721 {
  position:absolute;
  left:2px;
  top:60px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16722 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u16723 {
  position:absolute;
  left:101px;
  top:200px;
  width:45px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16724 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u16725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16725 {
  position:absolute;
  left:156px;
  top:214px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16726 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u16727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u16727 {
  position:absolute;
  left:60px;
  top:253px;
  width:350px;
  height:1px;
}
#u16728 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16729 {
  position:absolute;
  left:71px;
  top:165px;
  width:10px;
  height:16px;
}
#u16730 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u16731 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u16732 {
  position:absolute;
  left:102px;
  top:264px;
  width:45px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16733 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u16734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16734 {
  position:absolute;
  left:157px;
  top:278px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16735 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u16736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16736 {
  position:absolute;
  left:71px;
  top:330px;
  width:10px;
  height:16px;
}
#u16737 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u16738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16738 {
  position:absolute;
  left:60px;
  top:356px;
  width:350px;
  height:66px;
}
#u16739 {
  position:absolute;
  left:2px;
  top:25px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16740 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u16741 {
  position:absolute;
  left:101px;
  top:365px;
  width:45px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16742 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u16743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16743 {
  position:absolute;
  left:156px;
  top:379px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16744 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u16745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16745 {
  position:absolute;
  left:328px;
  top:210px;
  width:50px;
  height:26px;
}
#u16746 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u16747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16747 {
  position:absolute;
  left:328px;
  top:273px;
  width:50px;
  height:26px;
}
#u16748 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u16749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16749 {
  position:absolute;
  left:328px;
  top:376px;
  width:50px;
  height:26px;
}
#u16750 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u16751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:457px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u16751 {
  position:absolute;
  left:378px;
  top:140px;
  width:32px;
  height:457px;
  color:#000000;
  text-align:center;
}
#u16752 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
