body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1565px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:97px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1187 {
  position:absolute;
  left:807px;
  top:1239px;
  width:296px;
  height:97px;
}
#u1188 {
  position:absolute;
  left:10px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u1189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:61px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1189 {
  position:absolute;
  left:807px;
  top:954px;
  width:296px;
  height:61px;
}
#u1190 {
  position:absolute;
  left:10px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u1191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:57px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1191 {
  position:absolute;
  left:807px;
  top:1025px;
  width:296px;
  height:57px;
}
#u1192 {
  position:absolute;
  left:10px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u1193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:107px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1193 {
  position:absolute;
  left:807px;
  top:1353px;
  width:150px;
  height:107px;
}
#u1194 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u1195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:40px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1195 {
  position:absolute;
  left:807px;
  top:904px;
  width:296px;
  height:40px;
}
#u1196 {
  position:absolute;
  left:10px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u1197 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:109px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1198 {
  position:absolute;
  left:807px;
  top:1092px;
  width:296px;
  height:109px;
}
#u1199 {
  position:absolute;
  left:10px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u1200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u1200 {
  position:absolute;
  left:453px;
  top:377px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u1201 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:376px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1202 {
  position:absolute;
  left:453px;
  top:412px;
  width:354px;
  height:376px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1203 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  word-wrap:break-word;
}
#u1204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:560px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1204 {
  position:absolute;
  left:807px;
  top:151px;
  width:350px;
  height:560px;
}
#u1205 {
  position:absolute;
  left:2px;
  top:272px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1206 {
  position:absolute;
  left:807px;
  top:153px;
  width:350px;
  height:58px;
}
#u1207 {
  position:absolute;
  left:2px;
  top:21px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:52px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1208 {
  position:absolute;
  left:807px;
  top:659px;
  width:350px;
  height:52px;
}
#u1209 {
  position:absolute;
  left:2px;
  top:18px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1210 {
  position:absolute;
  left:829px;
  top:674px;
  width:105px;
  height:25px;
}
#u1211 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u1212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1212 {
  position:absolute;
  left:1040px;
  top:676px;
  width:73px;
  height:25px;
}
#u1213 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1214_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:55px;
}
#u1214 {
  position:absolute;
  left:982px;
  top:659px;
  width:3px;
  height:52px;
}
#u1215 {
  position:absolute;
  left:2px;
  top:18px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1216 {
  position:absolute;
  left:1125px;
  top:174px;
  width:24px;
  height:24px;
}
#u1217 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1218 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1219 {
  position:absolute;
  left:807px;
  top:219px;
  width:350px;
  height:86px;
}
#u1220 {
  position:absolute;
  left:2px;
  top:35px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1221 {
  position:absolute;
  left:900px;
  top:235px;
  width:225px;
  height:22px;
  font-size:16px;
}
#u1222 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u1223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1223 {
  position:absolute;
  left:824px;
  top:235px;
  width:55px;
  height:54px;
}
#u1224 {
  position:absolute;
  left:2px;
  top:19px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1225 {
  position:absolute;
  left:930px;
  top:269px;
  width:197px;
  height:20px;
}
#u1226 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u1227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1227 {
  position:absolute;
  left:896px;
  top:265px;
  width:24px;
  height:24px;
}
#u1228 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:326px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1229 {
  position:absolute;
  left:807px;
  top:315px;
  width:350px;
  height:326px;
}
#u1230 {
  position:absolute;
  left:2px;
  top:155px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1231 {
  position:absolute;
  left:833px;
  top:176px;
  width:127px;
  height:25px;
}
#u1232 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1233 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:58px;
}
#u1234 {
  position:absolute;
  left:807px;
  top:95px;
  width:350px;
  height:58px;
}
#u1235 {
  position:absolute;
  left:2px;
  top:21px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 56, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1236 {
  position:absolute;
  left:880px;
  top:114px;
  width:240px;
  height:39px;
}
#u1237 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1238 {
  position:absolute;
  left:887px;
  top:123px;
  width:73px;
  height:25px;
  color:#FFFFFF;
}
#u1239 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1240 {
  position:absolute;
  left:807px;
  top:115px;
  width:41px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1241 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:298px;
}
#u1242 {
  position:absolute;
  left:807px;
  top:315px;
  width:350px;
  height:298px;
}
#u1243 {
  position:absolute;
  left:2px;
  top:141px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1244 {
  position:absolute;
  left:824px;
  top:373px;
  width:20px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1245 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1246 {
  position:absolute;
  left:854px;
  top:377px;
  width:85px;
  height:20px;
}
#u1247 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1248 {
  position:absolute;
  left:824px;
  top:327px;
  width:73px;
  height:25px;
}
#u1249 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1250 {
  position:absolute;
  left:1002px;
  top:377px;
  width:20px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1251 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1252 {
  position:absolute;
  left:1028px;
  top:381px;
  width:85px;
  height:20px;
}
#u1253 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1254 {
  position:absolute;
  left:824px;
  top:454px;
  width:20px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1255 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1256 {
  position:absolute;
  left:854px;
  top:458px;
  width:191px;
  height:20px;
}
#u1257 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u1258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1258 {
  position:absolute;
  left:824px;
  top:415px;
  width:20px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1259 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1260 {
  position:absolute;
  left:854px;
  top:419px;
  width:99px;
  height:20px;
}
#u1261 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1262 {
  position:absolute;
  left:969px;
  top:416px;
  width:20px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1263 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1264 {
  position:absolute;
  left:989px;
  top:415px;
  width:168px;
  height:20px;
}
#u1265 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u1266 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:135px;
}
#u1267 {
  position:absolute;
  left:807px;
  top:484px;
  width:350px;
  height:135px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1268 {
  position:absolute;
  left:2px;
  top:50px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1269 {
  position:absolute;
  left:819px;
  top:524px;
  width:20px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1270 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1271 {
  position:absolute;
  left:1008px;
  top:528px;
  width:135px;
  height:20px;
}
#u1272 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u1273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1273 {
  position:absolute;
  left:855px;
  top:528px;
  width:143px;
  height:20px;
}
#u1274 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u1275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1275 {
  position:absolute;
  left:819px;
  top:576px;
  width:20px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1276 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1277 {
  position:absolute;
  left:849px;
  top:578px;
  width:121px;
  height:20px;
}
#u1278 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1279 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1280 {
  position:absolute;
  left:1065px;
  top:577px;
  width:21px;
  height:20px;
}
#u1281 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u1282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1282 {
  position:absolute;
  left:1117px;
  top:577px;
  width:21px;
  height:20px;
}
#u1283 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u1284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1284 {
  position:absolute;
  left:1084px;
  top:577px;
  width:34px;
  height:20px;
}
#u1285 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u1286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:613px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1286 {
  position:absolute;
  left:1215px;
  top:95px;
  width:350px;
  height:613px;
}
#u1287 {
  position:absolute;
  left:2px;
  top:298px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:560px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1288 {
  position:absolute;
  left:1215px;
  top:155px;
  width:350px;
  height:560px;
}
#u1289 {
  position:absolute;
  left:2px;
  top:272px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:60px;
}
#u1290 {
  position:absolute;
  left:1215px;
  top:95px;
  width:350px;
  height:60px;
}
#u1291 {
  position:absolute;
  left:2px;
  top:22px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1292 {
  position:absolute;
  left:1215px;
  top:155px;
  width:350px;
  height:170px;
}
#u1293 {
  position:absolute;
  left:2px;
  top:77px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:52px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1294 {
  position:absolute;
  left:1215px;
  top:663px;
  width:350px;
  height:52px;
}
#u1295 {
  position:absolute;
  left:2px;
  top:18px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1296 {
  position:absolute;
  left:1237px;
  top:678px;
  width:105px;
  height:25px;
}
#u1297 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u1298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1298 {
  position:absolute;
  left:1215px;
  top:331px;
  width:350px;
  height:86px;
}
#u1299 {
  position:absolute;
  left:2px;
  top:35px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1300 {
  position:absolute;
  left:1448px;
  top:680px;
  width:73px;
  height:25px;
}
#u1301 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1302_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:55px;
}
#u1302 {
  position:absolute;
  left:1390px;
  top:663px;
  width:3px;
  height:52px;
}
#u1303 {
  position:absolute;
  left:2px;
  top:18px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1304 {
  position:absolute;
  left:1237px;
  top:197px;
  width:91px;
  height:25px;
}
#u1305 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1306 {
  position:absolute;
  left:1361px;
  top:197px;
  width:110px;
  height:21px;
}
#u1307 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u1308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1308 {
  position:absolute;
  left:1237px;
  top:239px;
  width:71px;
  height:20px;
}
#u1309 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1310 {
  position:absolute;
  left:1335px;
  top:239px;
  width:85px;
  height:20px;
}
#u1311 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1312 {
  position:absolute;
  left:1237px;
  top:265px;
  width:141px;
  height:20px;
}
#u1313 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1314 {
  position:absolute;
  left:1237px;
  top:291px;
  width:211px;
  height:20px;
}
#u1315 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u1316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1316 {
  position:absolute;
  left:1533px;
  top:239px;
  width:24px;
  height:24px;
}
#u1317 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1318 {
  position:absolute;
  left:1308px;
  top:347px;
  width:225px;
  height:22px;
  font-size:16px;
}
#u1319 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u1320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1320 {
  position:absolute;
  left:1232px;
  top:347px;
  width:55px;
  height:54px;
}
#u1321 {
  position:absolute;
  left:2px;
  top:19px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1322 {
  position:absolute;
  left:1304px;
  top:377px;
  width:24px;
  height:24px;
}
#u1323 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:236px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1324 {
  position:absolute;
  left:1215px;
  top:427px;
  width:350px;
  height:236px;
}
#u1325 {
  position:absolute;
  left:2px;
  top:110px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1326 {
  position:absolute;
  left:1223px;
  top:129px;
  width:32px;
  height:32px;
}
#u1327 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1328 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:58px;
}
#u1329 {
  position:absolute;
  left:1215px;
  top:97px;
  width:350px;
  height:58px;
}
#u1330 {
  position:absolute;
  left:2px;
  top:21px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 56, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1331 {
  position:absolute;
  left:1288px;
  top:116px;
  width:240px;
  height:39px;
}
#u1332 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1333 {
  position:absolute;
  left:1295px;
  top:125px;
  width:73px;
  height:25px;
  color:#FFFFFF;
}
#u1334 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1335 {
  position:absolute;
  left:1338px;
  top:385px;
  width:197px;
  height:20px;
}
#u1336 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u1337 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1338 {
  position:absolute;
  left:1232px;
  top:447px;
  width:20px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1339 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1340 {
  position:absolute;
  left:1262px;
  top:451px;
  width:85px;
  height:20px;
}
#u1341 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1342 {
  position:absolute;
  left:1410px;
  top:451px;
  width:20px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1343 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1344 {
  position:absolute;
  left:1436px;
  top:455px;
  width:85px;
  height:20px;
}
#u1345 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1346 {
  position:absolute;
  left:1232px;
  top:528px;
  width:20px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1347 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1348 {
  position:absolute;
  left:1262px;
  top:532px;
  width:191px;
  height:20px;
}
#u1349 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u1350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1350 {
  position:absolute;
  left:1232px;
  top:489px;
  width:20px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1351 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1352 {
  position:absolute;
  left:1262px;
  top:493px;
  width:99px;
  height:20px;
}
#u1353 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1354 {
  position:absolute;
  left:1377px;
  top:490px;
  width:20px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1355 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1356 {
  position:absolute;
  left:1397px;
  top:489px;
  width:168px;
  height:20px;
}
#u1357 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u1358 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:135px;
}
#u1359 {
  position:absolute;
  left:1215px;
  top:528px;
  width:350px;
  height:135px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1360 {
  position:absolute;
  left:2px;
  top:50px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1361 {
  position:absolute;
  left:1227px;
  top:568px;
  width:20px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1362 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1363 {
  position:absolute;
  left:1416px;
  top:572px;
  width:135px;
  height:20px;
}
#u1364 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u1365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1365 {
  position:absolute;
  left:1263px;
  top:572px;
  width:143px;
  height:20px;
}
#u1366 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u1367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1367 {
  position:absolute;
  left:1227px;
  top:620px;
  width:20px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1368 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1369 {
  position:absolute;
  left:1257px;
  top:622px;
  width:121px;
  height:20px;
}
#u1370 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1371 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1372 {
  position:absolute;
  left:1473px;
  top:621px;
  width:21px;
  height:20px;
}
#u1373 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u1374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1374 {
  position:absolute;
  left:1525px;
  top:621px;
  width:21px;
  height:20px;
}
#u1375 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u1376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1376 {
  position:absolute;
  left:1492px;
  top:621px;
  width:34px;
  height:20px;
}
#u1377 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u1378_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:355px;
  height:21px;
}
#u1378p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:346px;
  height:1px;
}
#u1378p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:357px;
  height:21px;
}
#u1378p001 {
  position:absolute;
  left:-8px;
  top:-11px;
  width:22px;
  height:22px;
}
#u1378p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u1378p002 {
  position:absolute;
  left:343px;
  top:0px;
  width:2px;
  height:1px;
}
#u1378p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u1378.compound {
  width:0px;
  height:0px;
}
#u1378 {
  position:absolute;
  left:453px;
  top:302px;
  width:344px;
  height:1px;
}
#u1379 {
  position:absolute;
  left:2px;
  top:-8px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1380 {
  position:absolute;
  left:606px;
  top:271px;
  width:38px;
  height:21px;
}
#u1381 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1382 {
  position:absolute;
  left:460px;
  top:315px;
  width:337px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1383 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  word-wrap:break-word;
}
#u1384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:560px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1384 {
  position:absolute;
  left:45px;
  top:151px;
  width:350px;
  height:560px;
}
#u1385 {
  position:absolute;
  left:2px;
  top:272px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1386 {
  position:absolute;
  left:45px;
  top:153px;
  width:350px;
  height:58px;
}
#u1387 {
  position:absolute;
  left:2px;
  top:21px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1388 {
  position:absolute;
  left:363px;
  top:174px;
  width:24px;
  height:24px;
}
#u1389 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1390 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1391 {
  position:absolute;
  left:45px;
  top:219px;
  width:350px;
  height:86px;
}
#u1392 {
  position:absolute;
  left:2px;
  top:35px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1393 {
  position:absolute;
  left:138px;
  top:235px;
  width:225px;
  height:22px;
  font-size:16px;
}
#u1394 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u1395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1395 {
  position:absolute;
  left:62px;
  top:235px;
  width:55px;
  height:54px;
}
#u1396 {
  position:absolute;
  left:2px;
  top:19px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1397 {
  position:absolute;
  left:168px;
  top:269px;
  width:197px;
  height:20px;
}
#u1398 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u1399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1399 {
  position:absolute;
  left:134px;
  top:265px;
  width:24px;
  height:24px;
}
#u1400 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1401 {
  position:absolute;
  left:71px;
  top:176px;
  width:127px;
  height:25px;
}
#u1402 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1403 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:58px;
}
#u1404 {
  position:absolute;
  left:45px;
  top:95px;
  width:350px;
  height:58px;
}
#u1405 {
  position:absolute;
  left:2px;
  top:21px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 56, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1406 {
  position:absolute;
  left:118px;
  top:114px;
  width:240px;
  height:39px;
}
#u1407 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1408 {
  position:absolute;
  left:125px;
  top:123px;
  width:73px;
  height:25px;
  color:#FFFFFF;
}
#u1409 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1410 {
  position:absolute;
  left:45px;
  top:115px;
  width:41px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1411 {
  position:absolute;
  left:45px;
  top:305px;
  width:350px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1412 {
  position:absolute;
  left:2px;
  top:16px;
  width:346px;
  word-wrap:break-word;
}
#u1413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1413 {
  position:absolute;
  left:45px;
  top:507px;
  width:350px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1414 {
  position:absolute;
  left:2px;
  top:16px;
  width:346px;
  word-wrap:break-word;
}
#u1415 {
  position:absolute;
  left:159px;
  top:561px;
  width:70px;
  height:18px;
}
#u1416 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u1415_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:22px;
}
#u1417 {
  position:absolute;
  left:45px;
  top:619px;
  width:153px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1418 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u1419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:48px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1419 {
  position:absolute;
  left:45px;
  top:663px;
  width:350px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1420 {
  position:absolute;
  left:2px;
  top:12px;
  width:346px;
  word-wrap:break-word;
}
#u1421 {
  position:absolute;
  left:59px;
  top:355px;
  width:100px;
  height:18px;
}
#u1422 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1421_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1423 {
  position:absolute;
  left:159px;
  top:355px;
  width:100px;
  height:18px;
}
#u1424 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1423_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1425 {
  position:absolute;
  left:276px;
  top:355px;
  width:100px;
  height:18px;
}
#u1426 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1425_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1427 {
  position:absolute;
  left:59px;
  top:383px;
  width:100px;
  height:18px;
}
#u1428 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1427_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1429 {
  position:absolute;
  left:159px;
  top:383px;
  width:100px;
  height:18px;
}
#u1430 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1429_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1431 {
  position:absolute;
  left:276px;
  top:383px;
  width:100px;
  height:18px;
}
#u1432 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1431_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1433 {
  position:absolute;
  left:59px;
  top:469px;
  width:114px;
  height:18px;
  text-align:center;
}
#u1434 {
  position:absolute;
  left:16px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u1433_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1435 {
  position:absolute;
  left:233px;
  top:469px;
  width:111px;
  height:18px;
  text-align:center;
}
#u1436 {
  position:absolute;
  left:16px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u1435_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:22px;
}
#u1437 {
  position:absolute;
  left:45px;
  top:427px;
  width:150px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1438 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u1439 {
  position:absolute;
  left:59px;
  top:561px;
  width:70px;
  height:18px;
}
#u1440 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u1439_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
