body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:800px;
}
#u11991 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:800px;
}
#u11992 {
  position:absolute;
  left:2px;
  top:392px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:595px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11993 {
  position:absolute;
  left:32px;
  top:120px;
  width:350px;
  height:595px;
}
#u11994 {
  position:absolute;
  left:2px;
  top:290px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u11995 {
  position:absolute;
  left:32px;
  top:147px;
  width:350px;
  height:1px;
}
#u11996 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:595px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11997 {
  position:absolute;
  left:32px;
  top:120px;
  width:350px;
  height:595px;
}
#u11998 {
  position:absolute;
  left:2px;
  top:290px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11999 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:58px;
}
#u12000 {
  position:absolute;
  left:32px;
  top:79px;
  width:350px;
  height:58px;
}
#u12001 {
  position:absolute;
  left:2px;
  top:21px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 56, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12002 {
  position:absolute;
  left:105px;
  top:98px;
  width:240px;
  height:39px;
}
#u12003 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12004 {
  position:absolute;
  left:162px;
  top:105px;
  width:91px;
  height:25px;
  color:#FFFFFF;
}
#u12005 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u12006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12006 {
  position:absolute;
  left:142px;
  top:152px;
  width:131px;
  height:19px;
  font-size:16px;
}
#u12007 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u12008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12008 {
  position:absolute;
  left:56px;
  top:201px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u12009 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u12011 {
  position:absolute;
  left:181px;
  top:195px;
  width:32px;
  height:32px;
}
#u12012 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u12013 {
  position:absolute;
  left:216px;
  top:195px;
  width:32px;
  height:32px;
}
#u12014 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u12015 {
  position:absolute;
  left:252px;
  top:195px;
  width:32px;
  height:32px;
}
#u12016 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u12017 {
  position:absolute;
  left:288px;
  top:195px;
  width:32px;
  height:32px;
}
#u12018 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u12019 {
  position:absolute;
  left:327px;
  top:195px;
  width:32px;
  height:32px;
}
#u12020 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12021 {
  position:absolute;
  left:56px;
  top:249px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u12022 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12023 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u12024 {
  position:absolute;
  left:180px;
  top:244px;
  width:32px;
  height:32px;
}
#u12025 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u12026 {
  position:absolute;
  left:215px;
  top:244px;
  width:32px;
  height:32px;
}
#u12027 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u12028 {
  position:absolute;
  left:251px;
  top:244px;
  width:32px;
  height:32px;
}
#u12029 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u12030 {
  position:absolute;
  left:287px;
  top:244px;
  width:32px;
  height:32px;
}
#u12031 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u12032 {
  position:absolute;
  left:326px;
  top:244px;
  width:32px;
  height:32px;
}
#u12033 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12034 {
  position:absolute;
  left:56px;
  top:300px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u12035 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12036 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u12037 {
  position:absolute;
  left:179px;
  top:296px;
  width:32px;
  height:32px;
}
#u12038 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u12039 {
  position:absolute;
  left:214px;
  top:296px;
  width:32px;
  height:32px;
}
#u12040 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u12041 {
  position:absolute;
  left:250px;
  top:296px;
  width:32px;
  height:32px;
}
#u12042 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u12043 {
  position:absolute;
  left:286px;
  top:296px;
  width:32px;
  height:32px;
}
#u12044 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u12045 {
  position:absolute;
  left:325px;
  top:296px;
  width:32px;
  height:32px;
}
#u12046 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12047 {
  position:absolute;
  left:137px;
  top:433px;
  width:140px;
  height:40px;
}
#u12048 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
