body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:382px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:560px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17076 {
  position:absolute;
  left:32px;
  top:138px;
  width:350px;
  height:560px;
}
#u17077 {
  position:absolute;
  left:2px;
  top:272px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17078 {
  position:absolute;
  left:32px;
  top:138px;
  width:350px;
  height:110px;
}
#u17079 {
  position:absolute;
  left:2px;
  top:47px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17080 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17081 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:56px;
}
#u17082 {
  position:absolute;
  left:32px;
  top:81px;
  width:350px;
  height:56px;
}
#u17083 {
  position:absolute;
  left:2px;
  top:20px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:40px;
  background:inherit;
  background-color:rgba(50, 51, 53, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17084 {
  position:absolute;
  left:57px;
  top:97px;
  width:282px;
  height:40px;
}
#u17085 {
  position:absolute;
  left:2px;
  top:12px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u17086 {
  position:absolute;
  left:176px;
  top:106px;
  width:37px;
  height:22px;
  color:#FFFFFF;
}
#u17087 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u17088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u17088 {
  position:absolute;
  left:32px;
  top:194px;
  width:350px;
  height:1px;
}
#u17089 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:28px;
}
#u17090 {
  position:absolute;
  left:48px;
  top:157px;
  width:41px;
  height:27px;
}
#u17091 {
  position:absolute;
  left:2px;
  top:6px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:28px;
}
#u17092 {
  position:absolute;
  left:48px;
  top:205px;
  width:41px;
  height:27px;
}
#u17093 {
  position:absolute;
  left:2px;
  top:6px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u17094 {
  position:absolute;
  left:99px;
  top:163px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u17095 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u17096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u17096 {
  position:absolute;
  left:99px;
  top:205px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u17097 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u17098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u17098 {
  position:absolute;
  left:81px;
  top:139px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u17099 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
