body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:533px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12792 {
  position:absolute;
  left:37px;
  top:24px;
  width:145px;
  height:22px;
}
#u12793 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u12794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099CC;
}
#u12794 {
  position:absolute;
  left:37px;
  top:66px;
  width:124px;
  height:22px;
  color:#0099CC;
}
#u12795 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u12796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12796 {
  position:absolute;
  left:37px;
  top:110px;
  width:101px;
  height:44px;
}
#u12797 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  word-wrap:break-word;
}
#u12798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12798 {
  position:absolute;
  left:157px;
  top:110px;
  width:101px;
  height:44px;
}
#u12799 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  word-wrap:break-word;
}
#u12800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u12800 {
  position:absolute;
  left:419px;
  top:110px;
  width:100px;
  height:47px;
}
#u12801 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12802 {
  position:absolute;
  left:293px;
  top:110px;
  width:101px;
  height:44px;
}
#u12803 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  word-wrap:break-word;
}
#u12804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099CC;
}
#u12804 {
  position:absolute;
  left:37px;
  top:198px;
  width:124px;
  height:22px;
  color:#0099CC;
}
#u12805 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u12806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12806 {
  position:absolute;
  left:37px;
  top:282px;
  width:101px;
  height:44px;
}
#u12807 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  word-wrap:break-word;
}
#u12808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12808 {
  position:absolute;
  left:157px;
  top:282px;
  width:101px;
  height:44px;
}
#u12809 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  word-wrap:break-word;
}
#u12810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u12810 {
  position:absolute;
  left:289px;
  top:281px;
  width:100px;
  height:47px;
}
#u12811 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12812 {
  position:absolute;
  left:43px;
  top:240px;
  width:73px;
  height:22px;
}
#u12813 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12814 {
  position:absolute;
  left:43px;
  top:380px;
  width:73px;
  height:22px;
}
#u12815 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12816 {
  position:absolute;
  left:43px;
  top:424px;
  width:101px;
  height:44px;
}
#u12817 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  word-wrap:break-word;
}
#u12818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12818 {
  position:absolute;
  left:163px;
  top:424px;
  width:101px;
  height:44px;
}
#u12819 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  word-wrap:break-word;
}
#u12820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u12820 {
  position:absolute;
  left:415px;
  top:423px;
  width:100px;
  height:47px;
}
#u12821 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12822 {
  position:absolute;
  left:288px;
  top:423px;
  width:101px;
  height:44px;
}
#u12823 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  word-wrap:break-word;
}
#u12824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099CC;
}
#u12824 {
  position:absolute;
  left:43px;
  top:519px;
  width:142px;
  height:22px;
  color:#0099CC;
}
#u12825 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u12826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12826 {
  position:absolute;
  left:49px;
  top:603px;
  width:101px;
  height:44px;
}
#u12827 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  word-wrap:break-word;
}
#u12828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u12828 {
  position:absolute;
  left:181px;
  top:602px;
  width:100px;
  height:47px;
}
#u12829 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12830 {
  position:absolute;
  left:49px;
  top:561px;
  width:73px;
  height:22px;
}
#u12831 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12832 {
  position:absolute;
  left:49px;
  top:701px;
  width:73px;
  height:22px;
}
#u12833 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12834 {
  position:absolute;
  left:49px;
  top:745px;
  width:101px;
  height:44px;
}
#u12835 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  word-wrap:break-word;
}
#u12836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12836 {
  position:absolute;
  left:169px;
  top:745px;
  width:101px;
  height:44px;
}
#u12837 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  word-wrap:break-word;
}
#u12838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u12838 {
  position:absolute;
  left:421px;
  top:744px;
  width:100px;
  height:47px;
}
#u12839 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12840 {
  position:absolute;
  left:294px;
  top:744px;
  width:101px;
  height:44px;
}
#u12841 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  word-wrap:break-word;
}
#u12842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099CC;
}
#u12842 {
  position:absolute;
  left:49px;
  top:833px;
  width:231px;
  height:22px;
  color:#0099CC;
}
#u12843 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u12844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12844 {
  position:absolute;
  left:49px;
  top:917px;
  width:101px;
  height:44px;
}
#u12845 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  word-wrap:break-word;
}
#u12846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12846 {
  position:absolute;
  left:169px;
  top:917px;
  width:101px;
  height:44px;
}
#u12847 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  word-wrap:break-word;
}
#u12848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u12848 {
  position:absolute;
  left:301px;
  top:916px;
  width:100px;
  height:47px;
}
#u12849 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12850 {
  position:absolute;
  left:55px;
  top:875px;
  width:73px;
  height:22px;
}
#u12851 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12852 {
  position:absolute;
  left:55px;
  top:1015px;
  width:73px;
  height:22px;
}
#u12853 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12854 {
  position:absolute;
  left:55px;
  top:1059px;
  width:101px;
  height:44px;
}
#u12855 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  word-wrap:break-word;
}
#u12856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12856 {
  position:absolute;
  left:175px;
  top:1059px;
  width:101px;
  height:44px;
}
#u12857 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  word-wrap:break-word;
}
#u12858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u12858 {
  position:absolute;
  left:427px;
  top:1058px;
  width:100px;
  height:47px;
}
#u12859 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12860 {
  position:absolute;
  left:300px;
  top:1058px;
  width:101px;
  height:44px;
}
#u12861 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  word-wrap:break-word;
}
#u12862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099CC;
}
#u12862 {
  position:absolute;
  left:55px;
  top:1155px;
  width:261px;
  height:22px;
  color:#0099CC;
}
#u12863 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u12864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12864 {
  position:absolute;
  left:179px;
  top:1230px;
  width:101px;
  height:44px;
}
#u12865 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  word-wrap:break-word;
}
#u12866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u12866 {
  position:absolute;
  left:320px;
  top:1227px;
  width:100px;
  height:47px;
}
#u12867 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12868 {
  position:absolute;
  left:61px;
  top:1197px;
  width:73px;
  height:22px;
}
#u12869 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12870 {
  position:absolute;
  left:61px;
  top:1337px;
  width:73px;
  height:22px;
}
#u12871 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12872 {
  position:absolute;
  left:61px;
  top:1381px;
  width:101px;
  height:44px;
}
#u12873 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  word-wrap:break-word;
}
#u12874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12874 {
  position:absolute;
  left:181px;
  top:1381px;
  width:101px;
  height:44px;
}
#u12875 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  word-wrap:break-word;
}
#u12876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u12876 {
  position:absolute;
  left:433px;
  top:1380px;
  width:100px;
  height:47px;
}
#u12877 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12878 {
  position:absolute;
  left:306px;
  top:1380px;
  width:101px;
  height:44px;
}
#u12879 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  word-wrap:break-word;
}
#u12880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12880 {
  position:absolute;
  left:55px;
  top:1230px;
  width:101px;
  height:44px;
}
#u12881 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  word-wrap:break-word;
}
#u12882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12882 {
  position:absolute;
  left:66px;
  top:154px;
  width:31px;
  height:22px;
}
#u12883 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12884 {
  position:absolute;
  left:186px;
  top:154px;
  width:31px;
  height:22px;
}
#u12885 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12886 {
  position:absolute;
  left:318px;
  top:154px;
  width:31px;
  height:22px;
}
#u12887 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12888 {
  position:absolute;
  left:78px;
  top:467px;
  width:31px;
  height:22px;
}
#u12889 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12890 {
  position:absolute;
  left:198px;
  top:467px;
  width:31px;
  height:22px;
}
#u12891 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12892 {
  position:absolute;
  left:330px;
  top:467px;
  width:31px;
  height:22px;
}
#u12893 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12894 {
  position:absolute;
  left:66px;
  top:326px;
  width:31px;
  height:22px;
}
#u12895 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12896 {
  position:absolute;
  left:186px;
  top:326px;
  width:31px;
  height:22px;
}
#u12897 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12898 {
  position:absolute;
  left:89px;
  top:647px;
  width:31px;
  height:22px;
}
#u12899 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12900 {
  position:absolute;
  left:84px;
  top:789px;
  width:31px;
  height:22px;
}
#u12901 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12902 {
  position:absolute;
  left:204px;
  top:789px;
  width:31px;
  height:22px;
}
#u12903 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12904 {
  position:absolute;
  left:336px;
  top:789px;
  width:31px;
  height:22px;
}
#u12905 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12906 {
  position:absolute;
  left:84px;
  top:1103px;
  width:31px;
  height:22px;
}
#u12907 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12908 {
  position:absolute;
  left:204px;
  top:1103px;
  width:31px;
  height:22px;
}
#u12909 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12910 {
  position:absolute;
  left:336px;
  top:1103px;
  width:31px;
  height:22px;
}
#u12911 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12912 {
  position:absolute;
  left:78px;
  top:961px;
  width:31px;
  height:22px;
}
#u12913 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12914 {
  position:absolute;
  left:198px;
  top:961px;
  width:31px;
  height:22px;
}
#u12915 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12916 {
  position:absolute;
  left:89px;
  top:1274px;
  width:31px;
  height:22px;
}
#u12917 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12918 {
  position:absolute;
  left:209px;
  top:1274px;
  width:31px;
  height:22px;
}
#u12919 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12920 {
  position:absolute;
  left:90px;
  top:1425px;
  width:31px;
  height:22px;
}
#u12921 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12922 {
  position:absolute;
  left:210px;
  top:1425px;
  width:31px;
  height:22px;
}
#u12923 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u12924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12924 {
  position:absolute;
  left:342px;
  top:1425px;
  width:31px;
  height:22px;
}
#u12925 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
