body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:931px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:601px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5645 {
  position:absolute;
  left:60px;
  top:77px;
  width:350px;
  height:601px;
}
#u5646 {
  position:absolute;
  left:2px;
  top:292px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:56px;
}
#u5647 {
  position:absolute;
  left:60px;
  top:60px;
  width:350px;
  height:56px;
}
#u5648 {
  position:absolute;
  left:2px;
  top:20px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:33px;
  background:inherit;
  background-color:rgba(49, 50, 52, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5649 {
  position:absolute;
  left:90px;
  top:83px;
  width:278px;
  height:33px;
}
#u5650 {
  position:absolute;
  left:2px;
  top:8px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u5651 {
  position:absolute;
  left:112px;
  top:86px;
  width:246px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u5652 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  word-wrap:break-word;
}
#u5653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:562px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5653 {
  position:absolute;
  left:60px;
  top:116px;
  width:350px;
  height:562px;
}
#u5654 {
  position:absolute;
  left:2px;
  top:273px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5655 {
  position:absolute;
  left:199px;
  top:258px;
  width:73px;
  height:25px;
}
#u5656 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u5657 {
  position:absolute;
  left:460px;
  top:95px;
  width:471px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u5658 {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  word-wrap:break-word;
}
#u5659 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u5660 {
  position:absolute;
  left:460px;
  top:60px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u5661 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:2px;
}
#u5662 {
  position:absolute;
  left:460px;
  top:84px;
  width:471px;
  height:1px;
}
#u5663 {
  position:absolute;
  left:2px;
  top:-8px;
  width:467px;
  visibility:hidden;
  word-wrap:break-word;
}
