body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1422px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:564px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u883 {
  position:absolute;
  left:657px;
  top:118px;
  width:350px;
  height:564px;
}
#u884 {
  position:absolute;
  left:2px;
  top:274px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:58px;
}
#u886 {
  position:absolute;
  left:658px;
  top:60px;
  width:350px;
  height:58px;
}
#u887 {
  position:absolute;
  left:2px;
  top:21px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 56, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u888 {
  position:absolute;
  left:731px;
  top:79px;
  width:240px;
  height:39px;
}
#u889 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u890 {
  position:absolute;
  left:738px;
  top:88px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u891 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u892 {
  position:absolute;
  left:674px;
  top:125px;
  width:43px;
  height:16px;
}
#u893 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u894 {
  position:absolute;
  left:657px;
  top:146px;
  width:350px;
  height:52px;
}
#u895 {
  position:absolute;
  left:2px;
  top:18px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u896 {
  position:absolute;
  left:671px;
  top:153px;
  width:40px;
  height:40px;
}
#u897 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u898 {
  position:absolute;
  left:721px;
  top:162px;
  width:55px;
  height:22px;
}
#u899 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u900 {
  position:absolute;
  left:674px;
  top:208px;
  width:29px;
  height:16px;
}
#u901 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u902 {
  position:absolute;
  left:657px;
  top:230px;
  width:350px;
  height:99px;
}
#u903 {
  position:absolute;
  left:2px;
  top:42px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u904 {
  position:absolute;
  left:671px;
  top:237px;
  width:40px;
  height:40px;
}
#u905 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u906 {
  position:absolute;
  left:721px;
  top:246px;
  width:37px;
  height:22px;
}
#u907 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u908 {
  position:absolute;
  left:671px;
  top:287px;
  width:40px;
  height:40px;
}
#u909 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u910 {
  position:absolute;
  left:721px;
  top:296px;
  width:55px;
  height:22px;
}
#u911 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u912 {
  position:absolute;
  left:657px;
  top:281px;
  width:350px;
  height:1px;
}
#u913 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u914 {
  position:absolute;
  left:677px;
  top:339px;
  width:29px;
  height:16px;
}
#u915 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u916 {
  position:absolute;
  left:657px;
  top:365px;
  width:350px;
  height:54px;
}
#u917 {
  position:absolute;
  left:2px;
  top:19px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u918 {
  position:absolute;
  left:671px;
  top:372px;
  width:40px;
  height:40px;
}
#u919 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u920 {
  position:absolute;
  left:721px;
  top:381px;
  width:55px;
  height:22px;
}
#u921 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u922 {
  position:absolute;
  left:657px;
  top:146px;
  width:350px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u923 {
  position:absolute;
  left:657px;
  top:229px;
  width:350px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u924 {
  position:absolute;
  left:657px;
  top:365px;
  width:350px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u925 {
  position:absolute;
  left:657px;
  top:79px;
  width:46px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u926 {
  position:absolute;
  left:1018px;
  top:451px;
  width:404px;
  height:150px;
}
#u927 {
  position:absolute;
  left:10px;
  top:10px;
  width:384px;
  word-wrap:break-word;
}
#u928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#000000;
}
#u928 {
  position:absolute;
  left:1030px;
  top:72px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#000000;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u930 {
  position:absolute;
  left:1030px;
  top:107px;
  width:275px;
  height:20px;
  color:#000000;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:564px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u932 {
  position:absolute;
  left:60px;
  top:118px;
  width:350px;
  height:564px;
}
#u933 {
  position:absolute;
  left:2px;
  top:274px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:58px;
}
#u935 {
  position:absolute;
  left:61px;
  top:60px;
  width:350px;
  height:58px;
}
#u936 {
  position:absolute;
  left:2px;
  top:21px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 56, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u937 {
  position:absolute;
  left:134px;
  top:79px;
  width:240px;
  height:39px;
}
#u938 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u939 {
  position:absolute;
  left:141px;
  top:88px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u940 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u941 {
  position:absolute;
  left:77px;
  top:125px;
  width:57px;
  height:20px;
}
#u942 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u943 {
  position:absolute;
  left:60px;
  top:146px;
  width:350px;
  height:52px;
}
#u944 {
  position:absolute;
  left:2px;
  top:18px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u945 {
  position:absolute;
  left:74px;
  top:153px;
  width:40px;
  height:40px;
}
#u946 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u947 {
  position:absolute;
  left:124px;
  top:162px;
  width:55px;
  height:22px;
}
#u948 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u949 {
  position:absolute;
  left:77px;
  top:208px;
  width:29px;
  height:16px;
}
#u950 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u951 {
  position:absolute;
  left:60px;
  top:230px;
  width:350px;
  height:99px;
}
#u952 {
  position:absolute;
  left:2px;
  top:42px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u953 {
  position:absolute;
  left:74px;
  top:237px;
  width:40px;
  height:40px;
}
#u954 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u955 {
  position:absolute;
  left:124px;
  top:246px;
  width:37px;
  height:22px;
}
#u956 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u957 {
  position:absolute;
  left:74px;
  top:287px;
  width:40px;
  height:40px;
}
#u958 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u959 {
  position:absolute;
  left:124px;
  top:296px;
  width:55px;
  height:22px;
}
#u960 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u961 {
  position:absolute;
  left:60px;
  top:281px;
  width:350px;
  height:1px;
}
#u962 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u963 {
  position:absolute;
  left:80px;
  top:339px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u964 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u965 {
  position:absolute;
  left:60px;
  top:365px;
  width:350px;
  height:54px;
}
#u966 {
  position:absolute;
  left:2px;
  top:19px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u967 {
  position:absolute;
  left:74px;
  top:372px;
  width:40px;
  height:40px;
}
#u968 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u969 {
  position:absolute;
  left:124px;
  top:381px;
  width:55px;
  height:22px;
}
#u970 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u971 {
  position:absolute;
  left:60px;
  top:146px;
  width:350px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u972 {
  position:absolute;
  left:60px;
  top:229px;
  width:350px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u973 {
  position:absolute;
  left:60px;
  top:365px;
  width:350px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u974 {
  position:absolute;
  left:60px;
  top:79px;
  width:46px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u975 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u976_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:211px;
  height:21px;
}
#u976p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:202px;
  height:1px;
}
#u976p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:213px;
  height:21px;
}
#u976p001 {
  position:absolute;
  left:-8px;
  top:-11px;
  width:22px;
  height:22px;
}
#u976p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u976p002 {
  position:absolute;
  left:199px;
  top:0px;
  width:2px;
  height:1px;
}
#u976p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u976.compound {
  width:0px;
  height:0px;
}
#u976 {
  position:absolute;
  left:427px;
  top:237px;
  width:200px;
  height:1px;
}
#u977 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u978 {
  position:absolute;
  left:496px;
  top:202px;
  width:63px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u979 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u980 {
  position:absolute;
  left:422px;
  top:261px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u981 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u982 {
  position:absolute;
  left:422px;
  top:296px;
  width:239px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u983 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
